body{
  background-color: #000000;
  transition: all 1s;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
#color {
  color: white;
  text-align: center;
  transition: all 1s;
}
button{
  transition: all 1s;
  padding: 10px;
}